@model MvcPL.Models.FileViewModel
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" area-hidden="true">X</button>
                <h4>Share your file:</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>File name:</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>
                    <dt>Shared link:</dt>
                    http://localhost:56448/File/GetShared/@Model.Id
                </dl>
            </div>
        </div>
