@model MvcPL.Models.DeleteViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{
    <h2>Delete</h2>

}
@section Body{
     Are you sure to delete "@Model.Name"?
    @Html.ActionLink("Delete", "ConfirmDelete", "File", new {id = @Model.Id}, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Cancel", "UserFiles", "File", new { @class = "btn btn-primary btn-sm" })
}

