@model MvcPL.Models.CreateFileViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header {
    <h2>
        @Html.ActionLink("Home", "AllPublicFiles", "File", null, htmlAttributes: new { @style = "color: #666;" })
        / @Html.ActionLink("My Files", "UserFiles", "File", null, htmlAttributes: new { @style = "color: #666;" })
        / Create
    </h2>
}
<hr/>
@section Body{
    @Html.Partial("_CreateForm", Model)
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
