@model MvcPL.Models.EditFileViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header {
    <h2>
        @Html.ActionLink("Home", "Index", "File", null, htmlAttributes: new { @style = "color: #666;" })
        / @Html.ActionLink("My Files", "UserFiles", "File", null, htmlAttributes: new { @style = "color: #666;" })
        / Edit
    </h2>
}
<hr />
@section Body{
   @Html.Partial("_EditForm", Model)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
