@model MvcPL.Models.TableViewModel
@{
    ViewBag.Title = "My Files";
    AjaxOptions ajaxOptions = new AjaxOptions {
        UpdateTargetId = "userTable"
    };
}
@section Header{
    <h2>My Files: </h2>
}
@section Body{
    <hr />
    <div class="form-group text-center">
        <div class="col-md-12 form-block">
            <div class="col-md-7">
                @using(Html.BeginForm("UserFiles", "File", FormMethod.Get)) {
                    <div class="search_form">
                        <input type="text" id="searchUserFiles" name="search" class="form-control input-sm" maxlength="64" placeholder="Search" />
                        <button type="submit" id="btnSearch" class="btn btn-primary btn-sm">Search</button>
                    </div>
                }
            </div>
                <div class="col-md-4">
                    <div class="input-group">
                        @Html.ActionLink("+", "Create", "File", new { @class = "btn btn-primary btn-sm" })
                    @*<input type="button" class="btn btn-primary btn-sm" value="+" onclick="location.href = '@Url.Action("Create", "File")'"/>*@

                    </div>
                </div>

        </div>
    </div>


    <div id="userTable">
        @Html.Partial("_UserFileTable", Model)
        @*@Html.Action("GetFilesPage", "File", new {page = Model})*@
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
