@model MvcPL.Models.TableViewModel
@{
    ViewBag.Title = "Files";
    AjaxOptions ajaxOptions = new AjaxOptions {
        UpdateTargetId = "table"
    };
}
@section Header {
    <h2>Public files: </h2>
}
@section LeftMenu{
    @Html.Partial("_LeftMenu")
}
@section Body{
    <hr />
    <div id="table">
        @Html.Partial("_FileTable", Model)
        @*@Html.Action("GetFilesPage", "File", new { page = Model })*@
    </div>
}
@section Styles {
    <link href="@Url.Content("~/Content/bootstrap-table.css")" rel="stylesheet" type="text/css" />

}
@section Scripts {
    <script src="@Url.Content("~/Scripts/bootstrap-table.js")"></script>
}
